<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.demo.mapper.OrgCompanysMapper">
    <resultMap id="BaseResultMap" type="hbi.core.demo.dto.OrgCompanys">
        <id column="COMPANY_ID" property="companyId"/>
        <result column="COMPANY_NUMBER" property="companyNumber" />
        <result column="COMPANY_NAME" property="companyName"/>
    </resultMap>
</mapper>
